<div id="content-edit-personnel" class="col-sm-8 col-lg-10 mt-5 mb-5">
    <h2>Edit <%= name %> </h2>
    <form action="/admin/personnel" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">ID</label>
            <input class="form-control" name="id" value="<%= id %>" readonly>
        </div>
        <div class="mb-3">
            <div class="mb-2">
                <label for="Image" class="form-label">Image</label>
                <input class="form-control" type="file" id="formFile" onchange="preview()" name="file" data-focus="image-leader">
                <div onclick="clearImage()" class="btn btn-primary mt-3">Click me</div>
            </div>
            <img id="image-leader" src="<%= img %>" class="img-fluid" />
        </div>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input class="form-control" name="name" value="<%= name %> ">
        </div>
        <div class="mb-3">
            <label class="form-label">Position</label>
            <input class="form-control" name="position" value="<%= position %> ">
        </div>
        <div class="dynamic-form mb-3">
            <label class="form-label">Bio</label>
            <div class="group-input" id="utilities-group">
                <% bio.split("|").forEach(element => { %>
                    <div class="mb-3">
                        <input class="form-control" name="bio" value="<%= element %>">
                    </div>
                <% }) %>
            </div>
            <div class="btn btn-primary btn-plus" data-target="#utilities-group" data-name="bio"><i class="fa-solid fa-plus"></i></div>
        </div>
        
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
</div>