<div id="home-body">
    <%- include("./home-intro.ejs", home) %>
    <%- include("./home-des-slogan.ejs", home) %> 
    <%- include("./home-product.ejs", { products }) %>
    <%- include("./home-count-up.ejs") %>
    <%- include("./home-card-project.ejs", { products }) %> 
</div>