<div id="content-edit-partner" class="col-sm-8 col-lg-10 mt-5 mb-5">
    <h2>Edit partner <%= name %> </h2>
    <form action="/admin/partner" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">ID</label>
            <input class="form-control" name="id" value="<%= id %>" readonly>
        </div>
        <div class="mb-3">
            <div class="mb-2">
                <label for="Image" class="form-label">Logo</label>
                <input class="form-control" type="file" id="formFile" onchange="preview()" name="file" data-focus="logo-partner">
                <div onclick="clearImage()" class="btn btn-primary mt-3">Click me</div>
            </div>
            <img id="logo-partner" src="<%= logo %>" class="img-fluid" />
        </div>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input class="form-control" name="name" value="<%= name %> ">
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" name="description" rows="3"><%= description %> </textarea>
        </div>
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example" name="productID" required>
                <% if (customer) { %>
                    <option value="<%= customer.id %> " selected><h3><%= customer.name %></h3></option>
                <% } else { %>
                    <option selected><h3>Choose Category</h3></option>
                <% } %>
                <% customers.forEach(customer => { %>
                    <option value="<%= customer.id %> "><%= customer.name %> </option>
                <% }) %>
            </select>
        </div>

        <button class="btn btn-primary" type="submit">Update</button>
    </form>
</div>