<div id="content-edit-category" class="col-sm-8 col-lg-10 mt-5 mb-5">
    <h2>Edit category <%= name %> </h2>
    <form action="/admin/category" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">ID</label>
            <input class="form-control" name="id" value="<%= id %>" readonly>
        </div>
        <div class="mb-3">
            <div class="mb-2">
                <label for="Image" class="form-label">Banner</label>
                <input class="form-control" type="file" id="formFile" onchange="preview()" name="file" data-focus="banner-category">
                <div onclick="clearImage()" class="btn btn-primary mt-3">Click me</div>
            </div>
            <img id="banner-category" src="<%= banner %>" class="img-fluid" />
        </div>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input class="form-control" name="name" value="<%= name %> ">
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" name="description" rows="3"><%= description %> </textarea>
        </div>
        
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
</div>