<div class="nav flex-column">
    <%- include("./item.ejs", {content: "Logo", icon: "fa-solid fa-font-awesome", link: "/admin/logo" }) %>
    <%- include("./item.ejs", {content: "Banner", icon: "fa-solid fa-images", link: "/admin/banner" }) %>
    <%- include("./item.ejs", {content: "Home", icon: "fa-solid fa-house", link: "/admin/home" }) %> 
    <%- include("./item.ejs", {content: "About Us", icon: "fa-solid fa-building", link: "/admin/aboutus" }) %> 
    <%- include("./item.ejs", {content: "Product", icon: "fa-solid fa-diagram-project", link: "/admin/product"}) %>
    <%- include("./item.ejs", {content: "Customer", icon: "fa-solid fa-hand-holding-hand", link: "/admin/customer"}) %>
    <%- include("./item.ejs", {content: "Partner", icon: "fa-solid fa-handshake-angle", link: "/admin/partner"}) %>
    <%- include("./item.ejs", {content: "Department", icon: "fa-solid fa-building-user", link: "/admin/department"}) %>
    <%- include("./item.ejs", {content: "Personnel", icon: "fa-solid fa-people-group", link: "/admin/personnel"}) %>
    <%- include("./item.ejs", {content: "Contact", icon: "fa-solid fa-phone", link: "/admin/contact"}) %>
</div>