<%- include('../common/head.ejs', { title: "CONTACT | GPT GROUP", content: "Contacn Information GPT Group", keyword: "contact gpt group, gpt group,gpt"}); -%>
    <%- include('../common/header/header.ejs', {phone, email, linkedin, facebook, instagram}) %> 
    <main id="main">
        <h1 class="img-contact">
            GPT GROUP / CONTACT
        </h1>
        <div class="contact-body">  
            <div class="contact-logo">
                <img src="/img/logo.png" alt="Logo GPT">
                <h3 class="contact-name">gpt group</h3>
                <p>Global Platform Technology</p>
                <hr>
            </div>
            <div class="contact-info">
                <div class="address-contact">
                    <h3>
                        Contact Information
                    </h3>
                    <p><img src="/icon/ci_location.svg" alt=""><span>Address: <%= address %>  </span></p>
                    <p><img src="/icon/email.svg" alt=""><span>Email: <%= email %> </span></p>
                    <p><img src="/icon/phone-voice.svg" alt=""><span>Phone Number: <%= phone %> </span></p>
        
                    <div class="contact-social">
                        <a href="<%= linkedin %> " target="_blank"><img src="/icon/linkedin.svg" alt="linkedin gpt group"></a>
                        
                        <a href="<%= instagram %> " target="_blank"><img src="/icon/instagram.svg" alt="instagram gpt group"></a>
                            
                        <a href="<%= facebook %> " target="_blank"><img src="/icon/facebook.svg" alt="facebook gpt group"></a>
                    </div>
        
                </div>
                <div class="contact-form">
                    <h3>Ask us by filling out the form below</h3>
                    <form action="">
                        <input type="text" id="name" placeholder="Your Name">
                        <input type="text" id="email" placeholder="Your Email">
                        <textarea rows="5" id="message" placeholder="Your Messages" cols="10"></textarea>
                    
                        <button class="send">SEND</button>
                        
                    </form>
                </div>
            </div>
        
        
        </div> 
        <div class="address-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62689.2123204429!2d106.72277745086177!3d10.881841615938207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527d968702e0f%3A0x5559d1b4d60cdaf3!2zMjI1LCAzIMSQLiBUYW0gQsOsbmgsIEhp4buHcCBCw6xuaCBDaMOhbmgsIFRo4bunIMSQ4bupYywgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1647347288323!5m2!1sen!2s" width="100%" height="694px" style="border-radius:8px;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </main>

    <%- include('../common/footer/footer.ejs', { address, email, phone }) %> 
<%- include('../common/tail.ejs'); %>
