<%- include('./aboutUs-contact-img.ejs') %> 
<div class="container">
    <%- include('./description.ejs', aboutUs) %> 
    <%- include('./our-leader.ejs', personnels) %> 
    <%- include('./our-department.ejs', departments) %> 
    <%- include('./our-product.ejs', products) %>  
    <%- include('./aboutUs-contact.ejs') %>  
</div>