<div class="nav-header">
    <div class="header-contact">
        <div class="contact-item">
            <div class="contact-icon icon"><img src="/icon/email.svg" alt="email gpt group"></div>
            <div class="contact-content">Email: <%= email %> </div>
        </div>
        <div class="contact-item">
            <div class="contact-icon icon"><img src="/icon/phone-voice.svg" alt="phone gpt group"></div>
            <div class="contact-content">Phone Number: <%= phone %> </div>
        </div>
    </div>

    <div class="header-social">
        <span class="social-icon"><a href="<%= linkedin %>" target="_blank"><img src="/icon/linkedin.svg" alt="linkedin gpt group"></a></span>
        <span class="social-icon"><a href="<%= instagram %>" target="_blank"><img src="/icon/instagram.svg" alt="instagram gpt group"></a></span>
        <span class="social-icon"><a href="<%= facebook %>" target="_blank"><img src="/icon/facebook.svg" alt="facebook gpt group"></a></span>
    </div>
</div>